<div class='pure-u-1'>
	<div style="float:left;width:180px;">
		<%= image_tag("https://scontent-b-sea.xx.fbcdn.net/hphotos-ash3/68584_10102532945204369_1863936047_n.jpg", :class => "rachel") %>
		<%= image_tag('https://scontent-b-sea.xx.fbcdn.net/hphotos-prn1/1236082_10103164288202939_2037248165_n.jpg', :class => "rachel") %>
		<%= image_tag("https://scontent-a-sea.xx.fbcdn.net/hphotos-ash2/380185_10101136401848449_1174627333_n.jpg", :class => "rachel") %>
		<%= image_tag("https://scontent-b-sea.xx.fbcdn.net/hphotos-frc3/563953_10102136767318029_390498966_n.jpg",:class => "rachel") %>
		<%= image_tag("https://scontent-a-sea.xx.fbcdn.net/hphotos-ash2/424387_10101482633347749_1998495193_n.jpg",:class => "rachel") %>
		<%= image_tag('https://scontent-b-sea.xx.fbcdn.net/hphotos-prn1/603909_10103415467707199_1374568493_n.jpg', :class => "rachel") %>
		
	</div>
	<h1>I'm Rachel.</h1>
	<p>I'm a teacher, cellist, web developer, and runner.</p>
	
</div>
