<div style="height:600px;margin-top:20px">
	<h3><%= link_to "The SWOT Bot", 'https://swotbot.theswotteam.org/' %> (<%= link_to "repository", 'https://github.com/rwarbelow/the_swot_bot' %>)</h3> <br>
	<h3><%= link_to "Harmony Hub", 'http://harmony-hub.herokuapp.com/' %> (<%= link_to "repository", 'https://github.com/rwarbelow/harmony_hub' %>)</h3> <br>
	<h3><%= link_to "Las Vegas Track Club", 'http://las-vegas-track-club.herokuapp.com/' %> (<%= link_to "repository", 'https://github.com/rwarbelow/lvtc' %>)</h3> <br>
	<h3><%= link_to "Caitlin's Tax App", 'http://taxes-for-caitlin.herokuapp.com/' %> (<%= link_to "repository", 'https://github.com/rwarbelow/rachelsblog' %>)</h3> <br>
	<h3><%= link_to "Rachel's Blog", 'http://rachelsblog.herokuapp.com/' %> (<%= link_to "repository", 'https://github.com/rwarbelow/caitlinstaxes' %>)</h3>
</div>
